html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
    justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	text-align: center;
}

header h1 span {
	color: #77a466;
}

header h1 {
	border-bottom: 3px solid #77a466;
	padding: 18px 0;
	width: 100%;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	list-style-type: none;
	padding: 10px 0;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section {
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.bottom-section {
	width: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.menu li {
	width: 100%;
	color:#77a466;
	text-align: left;
	list-style-type: none;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	padding: 10px 0;
	margin-left: -40px;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.5625em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	width: 90%;
	border-top: 3px solid #eee;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

@media all and (min-width: 768px) {
	.bottom-section {
		justify-content: space-between;
		align-items: left;
		text-align: left;
		flex-flow: row wrap;
	}
	
	.section-one,
    .section-two,
    .section-three {
		width: 30%;
		
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-right: 20px;
}

.bottom-section {
	align-items: flex-start;
	justify-content: left;
}

.section-two,
.section-three {
	padding-left: 20px;
}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
}

@media all and (min-width: 1200px) {
	
	header h1 {
		width: 30%;
		border-bottom: none;
		text-align: left;
	}

	header {
		justify-content: space-between;
		
	}

	nav {
		text-align: right;
		width: 50%;
	}
	
	
	header nav ul li {
		padding: 0 10px;
		display: inline;
	}
	
	header nav ul {
		display: flex;
		justify-content: space-between;
	  }

	.section-one,
    .section-two,
    .section-three {
		width: 30%;
		
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-right: 20px;
}

.bottom-section {
	align-items: flex-start;
	justify-content: left;
}

.section-two,
.section-three {
	padding-left: 20px;
}

}